h1 {
	text-align: center;
	background-color: purple;
}

#goiburua{
    background-image: url("images/banner.jpg");
    background-size: 900px 150px;
    width:900px;
    height: 150px;
    border-radius:10px 10px 0px 0px;
}

#logoa{
    width:125px;
    height:125px;
    background-image: url("images/logo.png");
    background-size: 125px 125px;
    float:left;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

#webizena{
   font-size:80px;
   font-family: tiketak;
   color: #8042f4;
   margin-left: 100px;
   margin-top: 25px;
   float:left;
   -moz-text-stroke: 1px #000;
   -webkit-text-stroke: 1px #000;
}
